.container {
    width: 100%;
}

.container .wrapper{
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.center{
    text-align: center;
    margin: 0 auto;
    width: 170px;
}

img.penis {
    bottom: 0;
    position: absolute;
    display: block;
    width: 170px;
    cursor: pointer;
}

img.penis:hover {
    animation-name: shake;
    animation-duration:  .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -moz-animation-name: shake;
    -moz-animation-duration:  .5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name: shake;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

img.druppels {

}

.dick-name {
    color: #fff;
    font-family: 'PIPI';
    text-align: center;
    text-transform: uppercase;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    80% {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounceInUp {
    -webkit-animation: bounceInUp .5s;
    -moz-animation: bounceInUp .5s;
    -o-animation: bounceInUp .5s;
    animation: bounceInUp .5s;
}

.topTobottom {
    animation-name: topTobottom;
    animation-duration:  .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -moz-animation-name: topTobottom;
    -moz-animation-duration:  2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name: topTobottom;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes topTobottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
    100% {
        -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
        transform: translateY(-500px);
    }
}

@-webkit-keyframes topTobottom {
    0% {
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
    100% {
        -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
        transform: translateY(-500px);
    }
}